// Colors
$color-akcent: #4065F6;
$color-label: rgb(0, 0, 0, 0.1);
$color-label-2: #7A7A7A;
$color-white: #FFFFFF;
$color-black:#000000;
$color-current: #6C9FFF;
$color-secondary-title: rgb(0, 0, 0, 0.8);
$color-text: rgb(0, 0, 0, 0.8);
$color-faq-text: #363049;
$color-muted-text: rgb(255, 255, 255, 0.8);
$color-tab-text: rgb(0, 0, 0, 0.3);
$color-yellow-text: #FFCC00;
$color-review-text: rgb(0, 0, 0, 0.7);
$color-bg:#F6F6F6;
$color-white-bg: #FFFFFF;
$color-footer-item: #000000;
$color-mobmenu-bg: #F6F6F6;
$color-btn-hover: #CF9F77;
$color-border: #C8C8C8;
// Animations
$duration: 250ms;
$timing-function: cubic-bezier(0.4,0,0.2,1);
// Fonts
$main-font: "Inter", sans-serif;