.consultation {
    position: relative;
    overflow: hidden;
    min-height: 390px;
    background-color: $color-akcent;

    // &__content {
    //     position: relative;
    //     z-index: 2;
    // }

    &::before, &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
        z-index: 1;
    }

    &::before {
        background-image: url("../images/decor/arc-5.svg");
        width: 460px;
        height: 1070px;
        top: -2%;
        left: 0;
        pointer-events: none;

        @include mq(desktop) {
            top: 20%;
            // bottom: 0;
        }
    }

    &::after {
        background-image: url("../images/decor/arc-4.svg");
        width: 350px;
        height: 440px;
        bottom: -10%;
        right: 0;
        pointer-events: none;
    }
    
    &__title {
        margin: 0 auto 32px;
        max-width: 290px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 300;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: $color-white;

        @include mq(tablet) {
            max-width: 680px;
            font-size: 48px;
        }

        @include mq(desktop) {
            max-width: 780px;
        }
    }

    &__text {
        margin: 0 auto 48px;
        max-width: 90%;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.65;
        letter-spacing: 0.02em;
        text-align: center;
        color: $color-white;

        @include mq(tablet) {
            max-width: 380px;
            font-size: 16px;
        }

        @include mq(desktop) {
            max-width: 560px;
            font-size: 20px;
        }
    }

    &__link {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 32px;
        font-size: clamp(0.75rem, 0.5rem + 1.25vw, 0.875rem);
        line-height: 1.7;
        font-weight: 500;
        color: $color-black;
        background-color: $color-white-bg;
        text-align: center;
        border-radius: 16px;
        box-shadow: $shadow;

        @include mq(tablet) {
            max-width: 280px;
        }

        @include mq(desktop) {
            max-width: 320px;
            font-size: 18px;
        }
    }
}