.hero {
    // margin-top: -80px; /* Де 80px — це висота вашого хедера */
    padding-top: 10px; /* Повертаємо внутрішній відступ для контенту */
    padding-top: calc(140px + env(safe-area-inset-top));
}

.hero {
    width: 100%;
    min-height: 453px;
    padding-bottom: 20px;

    @include mq(desktop) {
       max-width: 1600px;
    }
 
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/mob-home-hero-bg.jpg);

    &.reviews {
        min-height: 390px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/mob-reviews-hero-bg.jpg);
        
        &>div>.hero__heading {
            max-width: 300px;
        }
        
        &>div>.hero__text {
            margin-bottom: 0;
        }
    }

    &__heading {
        // font-size: 32px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: $color-white;
        max-width: 310px;
        margin-bottom: 24px;
    
         @include mq(tablet) {
            max-width: 560px;
            font-size: 50px;
            line-height: 1.28;
            margin-bottom: 50px;
         }

         @include mq(desktop) {
            max-width: 800px;
            font-size: 64px;
            line-height: 1.25;
         }

         @include mq(monitor) {
            max-width: 1000px;
            font-size: 80px;
            line-height: 1.1;
            margin-bottom: 80px;
         }
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.02em;
        color: $color-muted-text;
        margin-bottom: 24px;
    
        @include mq(tablet) {
           max-width: 560px;
           font-size: 50px;
           line-height: 1.28;
           margin-bottom: 50px;
        }

        @include mq(desktop) {
           max-width: 800px;
           font-size: 64px;
           line-height: 1.25;
        }

        @include mq(monitor) {
           max-width: 1000px;
           font-size: 80px;
           line-height: 1.1;
           margin-bottom: 80px;
        }
    }

    &__item {
        position: relative;
        padding-left: 25px;
        min-height: 18px;
              
        &::before {
            content: '';
            position: absolute;
            left: 0;
            // top: 2px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url('../images/icons/ticker-bright.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__bullet {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.02em;
        color: $color-white;
    }
}