.hero {
    // margin-top: -80px; /* Де 80px — це висота вашого хедера */
    padding-top: 10px; /* Повертаємо внутрішній відступ для контенту */
    padding-top: calc(140px + env(safe-area-inset-top));

    @include mq(laptop) {
    padding-top: calc(160px + env(safe-area-inset-top));
    }

    @include mq(desktop) {
    padding-top: calc(200px + env(safe-area-inset-top));
    }
}

.hero {
    width: 100%;
    min-height: 453px;
    padding-bottom: 20px;

    @include mq(tablet) {
        min-height: 480px;
        padding-bottom: 40px;
    }

    @include mq(laptop) {
        min-height: 580px;
    }

    @include mq(desktop) {
        min-height: 620px;
    }
 
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/mob-home-hero-bg.jpg);

    &.reviews {
        min-height: 390px;
        padding-bottom: 20px;

            @include mq(tablet) {
                min-height: 480px;
                padding-bottom: 40px;
            }

            @include mq(laptop) {
                min-height: 580px;
            }

            @include mq(desktop) {
                min-height: 620px;
            }

            @include mq(monitor) {
                padding-bottom: 60px;
            }

        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/mob-reviews-hero-bg.jpg);
        
        &>div>.hero__heading {
            // max-width: 300px;
            @include mq(laptop) {
                margin-bottom: 50px;
                max-width: 800px;
            }

            @include mq(desktop) {
                max-width: 840px;
            }
        }
        
        &>div>.hero__text {
            margin-bottom: 0;
        }
    }

    &.faq {
        min-height: 390px;
        padding-bottom: 20px;

            @include mq(tablet) {
                min-height: 360px;
                padding-bottom: 40px;
            }

            @include mq(laptop) {
                min-height: 480px;
            }

            @include mq(desktop) {
                min-height: 520px;
            }

            @include mq(monitor) {
                padding-bottom: 60px;
            }

        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/mob-reviews-hero-bg.jpg);
        
        &>div>.hero__heading {
            // max-width: 260px;
            @include mq(laptop) {
                margin-bottom: 50px;
                max-width: 700px;
            }

            @include mq(desktop) {
                max-width: 760px;
            }
        }
        
        &>div>.hero__text {
            margin-bottom: 0;
        }
    }

    &.about {
        min-height: 390px;
        padding-bottom: 20px;

            @include mq(tablet) {
                min-height: 360px;
                padding-bottom: 40px;
            }

            @include mq(laptop) {
                min-height: 480px;
            }

            @include mq(desktop) {
                min-height: 520px;
            }

            @include mq(monitor) {
                padding-bottom: 60px;
            }

        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/mob-reviews-hero-bg.jpg);
        
        &>div>.hero__heading {
            // max-width: 260px;
            @include mq(laptop) {
                margin-bottom: 50px;
                max-width: 700px;
            }

            @include mq(desktop) {
                max-width: 760px;
            }
        }
        
        &>div>.hero__text {
            margin-bottom: 0;
        }
    }

    &.procedure {
        min-height: 390px;
        padding-bottom: 20px;

            @include mq(tablet) {
                min-height: 480px;
                padding-bottom: 40px;
            }

            @include mq(laptop) {
                min-height: 580px;
            }

            @include mq(desktop) {
                min-height: 620px;
            }

            @include mq(monitor) {
                padding-bottom: 60px;
            }
            
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/mob-procedure-hero-bg.jpg);
        
        &>div>.hero__heading {
            // max-width: 260px;
            @include mq(tablet) {
                max-width: 480px;
            }

            @include mq(laptop) {
                margin-bottom: 50px;
                max-width: 700px;
            }

            @include mq(desktop) {
                max-width: 760px;
            }
        }
        
        &>div>.hero__text {
            position: relative;
            margin-left: 40px;
            margin-bottom: 0;
            
            @include mq(desktop) {
                margin-left: 60px;
            }   

            @include mq(monitor) {
                margin-left: 70px;
            }

            &::before {
                content: '';
                position: absolute;
                left: -40px;
                // top: 2px;
                top: 50%;
                transform: translateY(-50%);
                width: 32px;
                height: 32px;
                background-image: url('../images/icons/decor-icon-3.svg');
                background-size: contain;
                background-repeat: no-repeat;

                @include mq(desktop) {
                    left: -60px;
                    width: 42px;
                    height: 42px;
                }

                @include mq(monitor) {
                    left: -70px;
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }

    &__heading {
        // font-size: 32px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: $color-white;
        max-width: 310px;
        margin-bottom: 24px;
    
            @include mq(tablet) {
            max-width: 560px;
            font-size: 50px;
            // line-height: 0.9;
            }

            @include mq(laptop) {
            max-width: 860px;
            font-size: 68px;
            // line-height: 1.2;
            }

            @include mq(desktop) {
            max-width: 960px;
            font-size: 76px;
            // line-height: 1.25;
            }

         @include mq(monitor) {
            max-width: 1000px;
            font-size: 80px;
            // line-height: 1.1;
            margin-bottom: 80px;
         }
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.02em;
        color: $color-muted-text;
        margin-bottom: 24px;
    
        @include mq(tablet) {
           max-width: 560px;
           font-size: 16px;
           line-height: 1.28;
           margin-bottom: 42px;
        }

        @include mq(laptop) {
           max-width: 650px;
           font-size: 18px;
           line-height: 1.25;
        }

        @include mq(desktop) {
           max-width: 720px;
           font-size: 20px;
           line-height: 1.25;
            margin-bottom: 42px;
        }

        @include mq(monitor) {
           max-width: 800px;
           font-size: 32px;
        }
    }

    &__item {
        position: relative;
        padding-left: 25px;
        min-height: 18px;
              
        &::before {
            content: '';
            position: absolute;
            left: 0;
            // top: 2px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url('../images/icons/ticker-bright.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__bullet {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.02em;
        color: $color-white;

        @include mq(desktop) {
            font-size: 16px;
        }

        @include mq(monitor) {
            font-size: 20px;
        }
    }
}