.info {
        &__pre-title {
        margin-bottom: 8px;
        // max-width: 180px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.25;
        text-align: center;
        color: $color-akcent;

        @include mq(tablet) {
            margin-bottom: 24px;
            font-size: 16px;
        }

        @include mq(monitor) {
            font-size: 24px;
        }
    }
    
    &__title {
        margin-bottom: 24px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: $color-black;

        @include mq(tablet) {
            margin-bottom: 48px;
            font-size: 48px;
        }

        @include mq(desktop) {
            font-size: 64px;
        }
    }

    &__description {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.65;
        letter-spacing: 0.02em;
        color: $color-faq-text;

        @include mq(laptop) {
        font-size: 16px;
        }

        @include mq(desktop) {
        font-size: 20px;
        }
    }
}