.pricing {

    &__title--top {
    }

    &__title {
    }
    
    &__list {
    }

    &__item {
    }
}

.plan-card {

    &__name {
    }
    &__price {
    }
    &__subtitle {
    }
    &__list {
    }
    &__item {
    }
    &__bullet {
    }
    &__text {
    }
    &__link {
    }
}