.process {

    &__container {
            @include mq(laptop) {
                display: grid;
                grid-template-columns: 300px 1fr; // Ліва колонка фіксована, права — гумова
                gap: 60px;
                align-items: start;
            }
    }

    &__pre-title {
        margin-bottom: 8px;
        max-width: 180px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.25;
        color: $color-akcent;

            @include mq(laptop) {
                grid-column: 1 / 3;
            }
    }
    
    &__title {
        margin-bottom: 24px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: $color-black;

            @include mq(laptop) {
                grid-column: 1 / 3;
            }
    }

    &__navigation {
            position: sticky;
            top: 0;
            background-color: $color-bg;
            z-index: 50;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        // padding-bottom: 6px;
        // overflow-x: auto;
        scrollbar-width: none;

            border-bottom: 1px solid rgba($color-black, 0.1);
            // Щоб таби скролились до країв екрана, ігноруючи падінги контейнера
            width: calc(100% + 40px);
            // margin-left: -20px;
            // padding: 15px;

        &::-webkit-scrollbar {
            display: none;
        }

        @include mq(tablet) {
            gap: 16px;
        }

        @include mq(laptop) {
            flex-direction: column;
            position: sticky;
            top: 40px; // Відступ від верху екрана при скролі
            overflow-x: visible;
            border-bottom: none;
            border-left: 1px solid rgba($color-black, 0.1);
            padding: 0 0 0 20px;
            gap: 16px;
        }
    }

    &__item {
        flex-shrink: 0;
        height: 32px;
        padding: 6px;
        background-color: $color-white-bg;
    }

    &__link {
        position: relative;
        padding: 8px 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
        color: $color-secondary-title;
        background: transparent;
        border:none;
        transition: $duration $timing-function;
        white-space: nowrap;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $color-akcent;
            border-radius: 2px;
            transform: scaleX(0);
            transition: transform 0.3s ease;
            transform-origin: left;
        }

        &:hover {
            color: $color-black;
        }

        &.active {
            color: $color-black;

            &::after {
                transform: scaleX(1); // Показуємо лінію для активної кнопки
            }
        }
    }
}

.stage {

    &__list {
        margin-top: 16px;
    }

    &__item {
        position: relative;
        padding-left: 25px;
        min-height: 18px;
              
        &::before {
            content: '';
            position: absolute;
            left: 0;
            // top: 2px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url('../images/icons/ticker-bright.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__bullet {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.65;
        letter-spacing: 0.02em;
        color: $color-faq-text;
    }
}

.stages {

    &__title {
        // margin-bottom: 16px;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $color-black;

        @include mq(laptop) {
            // margin-top: 0;
        }
    }

    &__description {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.65;
        letter-spacing: 0.02em;
        color: $color-faq-text;
    }

    &__item {
        margin-top: 32px;
        scroll-margin-top: 130px;

        @include mq(laptop) {
            scroll-margin-top: 20px;
        }
    }

    &__img {
        margin-top: 16px;
        border-radius: 26px;
    }

    &__wrapper {
        margin-top: 16px;
        padding: 24px;
        background-color: $color-white-bg;
        border-radius: 24px;
    }
    &__wrapper--title {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $color-black;
    }
}