.process {

    &__pre-title {
        margin-bottom: 8px;
        max-width: 180px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.25;
        color: $color-akcent;
    }
    
    &__title {
        margin-bottom: 24px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: $color-black;
    }

    &__list {
        display: flex;
    }
    &__item {
    }
    &__btn {
    }
}

.stages {

    &__list {
    }
    &__item {
    }
    &__title {
    }
    &__bullet {
    }
    &__description {
    }
    &__img {
        border-radius: 26px;
    }
    &__wrapper {
    }
    &__wrapper--title {
    }
}