.team {
    overflow: hidden;
    
    &__img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        @include mq(tablet) {
            width: 240px;
            height: 240px;
        }

        @include mq(desktop) {
            width: 300px;
            height: 300px;
        }
    }
    &__decor-arc {
    }

    &__pre-title {
        margin-bottom: 8px;
        max-width: 180px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.25;
        color: $color-akcent;

        @include mq(tablet) {
            margin-bottom: 24px;
            max-width: 240px;
            font-size: 16px;
        }

        @include mq(monitor) {
            max-width: 360px;
            font-size: 24px;
        }
    }

    &__title {
        margin-bottom: 24px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: $color-black;

        @include mq(tablet) {
            margin-bottom: 48px;
            max-width: 620px;
            font-size: 48px;
        }

        @include mq(desktop) {
            max-width: 820px;
            font-size: 64px;
        }
    }

    &__text-block {
    }

    &__text {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.02;
        color: $color-black;

        @include mq(laptop) {
            font-size: 16px;
        }

        @include mq(desktop) {
            font-size: 20px;
        }
    }

    &__signature {
    }
    &__name {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02;
        color: $color-black;

        @include mq(laptop) {
            font-size: 18px;
        }

        @include mq(desktop) {
            font-size: 22px;
        }
    }
    &__status {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02;
        color: $color-black;

        @include mq(laptop) {
            font-size: 18px;
        }

        @include mq(desktop) {
            font-size: 22px;
        }
    }
}