.team {
    overflow: hidden;
    
    &__img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    &__decor-arc {
    }

    &__pre-title {
        margin-bottom: 8px;
        max-width: 180px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.25;
        color: $color-akcent;
    }

    &__title {
        margin-bottom: 24px;
        font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: $color-black;
    }
    &__text-block {
    }

    &__text {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.02;
        color: $color-black;
    }

    &__signature {
    }
    &__name {
        margin-top: 20px;
    }
    &__status {
    }
}